# Node / Next.js
node_modules/
.next/
.next-static/
out/
.vercel/
.turbo/
coverage/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Prisma
prisma/*.db
prisma/*.sqlite
prisma/_migrations_backup/

# Build caches
.cache/
.vite/
.eslintcache
.stylelintcache

# Editor
.idea/
.vscode/
*.swp

# Misc
*.local
*.bak
*.tmp
